openapi: 3.0.0
servers:
  - url: 'https://ipool.me/v1'
info:
  description: >-
    iPool (IP, ipool.me) is a free and open-source content management system (CMS).
  version: 1.0.0
  title: OpenApi iPool
  license:
    name: Apache-2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: post
    description: Operations about post
  - name: user
    description: Operations about user
  - name: comment
    description: Operations about comment
paths:
  /post:
    post:
      tags:
        - post
      summary: Add a new post to the pool
      description: 'Add a new post to the pool'
      operationId: addPost
      requestBody:
        $ref: '#/components/requestBodies/Post'
      responses:
        '200':
          description: Post add successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
  '/post/{id}':
    get:
      tags:
        - post
      summary: Get post detail info
      description: Get post info
      operationId: getPostInfo
      parameters:
        - name: postId
          in: path
          description: post id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Post info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          description: Post not found
        '400':
          description: Invalid ID supplied
    delete:
      tags:
        - post
      summary: Delete post
      description: Delete post by id
      operationId: deletePost
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Post id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No content
    put:
      tags:
        - post
      summary: Update post
      description: 'Add a new post to the pool'
      operationId: addPost
      requestBody:
        $ref: '#/components/requestBodies/Post'
      responses:
        '200':
          description: Post add successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'

  /post/findByStatus:
    get:
      tags:
        - post
      summary: Finds Post by status
      description: Multiple status values can be provided with comma separated strings
      operationId: findPostsByStatus
      parameters:
        - name: status
          in: query
          description: Status values that need to considered for filter
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - available
                - pending
                - sold
              default: available
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          description: Invalid status value

components:
  securitySchemes:
    oblp_auth:
      type: oauth2
      flows:

  requestBodies:
    Post:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Post'
      description: For add post
      required: true
  schemas:
    Post:
      title: Post
      description: An post for a pool from the ipool.me
      type: object
      properties:
        id:
          type: integer
          format: int64
        poolId:
          type: integer
          format: int64
        title:
          type: string
        description:
          description: Description for post
          type: string
        content:
          description: Content for post
          type: string
        status:
          type: string
          description: Status for post
          enum:
            - draft
            - distro
